img {
	width: 100%;
	height: auto;
}
video {
	width: 100%;
	height: auto;
}
.container-pd-pc {
	padding: 0 75px;
}

/*=============================================
 * <PAGE NEWS>
 *=============================================*/
.section-news {
	padding-top: 0px;
}
.section-news__box-img, .section-method__box-img, .section-journal__box-img {
	margin-bottom: 105px;
}
.section-news__box-img .news-img, .section-news__box-img .journal-img, .section-method__box-img .news-img, .section-method__box-img .journal-img, .section-journal__box-img .news-img, .section-journal__box-img .journal-img {
	padding: 0 75px;
}
.section-news__box-img .boxtxt, .section-method__box-img .boxtxt, .section-journal__box-img .boxtxt {
	padding-left: 25.2%;
	padding-top: 70px;
	margin: 0 75px;
}
.section-news__box-img .boxtxt .ttl, .section-method__box-img .boxtxt .ttl, .section-journal__box-img .boxtxt .ttl {
	font-size: 3.4em;
	line-height: 1.2;
	color: #727171;
	font-family: 'Marcellus', serif;
}
.section-news__box-img .boxtxt .date, .section-method__box-img .boxtxt .date, .section-journal__box-img .boxtxt .date {
	font-size: 2em;
	color: #85754E;
	line-height: 2.3;
	padding: 3px 0 23px 2px;
	letter-spacing: 0.5px;
}
.section-news__box-img .boxtxt .ttls, .section-method__box-img .boxtxt .ttls, .section-journal__box-img .boxtxt .ttls {
	font-size: 2em;
	color: #85754E;
	line-height: 2.3;
	padding: 0px 0 20px;
}
.section-news__box-img .boxtxt .txt, .section-method__box-img .boxtxt .txt, .section-journal__box-img .boxtxt .txt {
	padding-bottom: 0px;
	font-size: 1.6em;
	line-height: 1.9;
	text-align: justify;
	letter-spacing: -1.1px;
}
.section-news__box-img .boxtxt .btn, .section-method__box-img .boxtxt .btn, .section-journal__box-img .boxtxt .btn {
	display: block;
	padding: 20px 0px;
	border: 1px solid #85754E;
	color: #85754E;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.2;
	width: 100%;
	max-width: 132px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	margin-top: 52px;
	position: relative;
}

.section-news__box-img .boxtxt .btn:before, .section-method__box-img .boxtxt .btn:before, .section-journal__box-img .boxtxt .btn:before {
	content: 'view more';
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}
.section-news__box-img .boxtxt .toggle.active .btn:before, .section-method__box-img .boxtxt .toggle.active .btn:before, .section-journal__box-img .boxtxt .toggle.active  .btn:before {
	content: 'close';
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}
.section-news__box-img .boxtxt .btn:hover, .section-method__box-img .boxtxt .btn:hover, .section-journal__box-img .boxtxt .btn:hover {
	opacity: 0.8;
	text-decoration: none;
}
.section-method__box-img .boxtxt, section-journal__box-img .boxtxt {
	padding-left: 41%;
}
@media only screen and (max-width:750px) {
	.section-news__box-img, .section-method__box-img, .section-journal__box-img {
		padding-bottom: 10%;
		margin-bottom: 0px;
	}
	.section-news__box-img .news-img, .section-news__box-img .journal-img, .section-method__box-img .news-img, .section-method__box-img .journal-img, .section-journal__box-img .news-img, .section-journal__box-img .journal-img {
		padding: 0 0px;
	}
	.section-news__box-img .boxtxt, .section-method__box-img .boxtxt, .section-journal__box-img .boxtxt {
		padding: 45px 35px 0 35px;
		margin: 0;
	}
	.section-news__box-img .boxtxt .date, .section-method__box-img .boxtxt .date, .section-journal__box-img .boxtxt .date {
		padding-bottom: 3%;
	}
	.section-news__box-img .boxtxt .ttls, .section-method__box-img .boxtxt .ttls, .section-journal__box-img .boxtxt .ttls {
		padding-bottom: 3%;
	}
	.section-news__box-img .boxtxt .txt, .section-method__box-img .boxtxt .txt, .section-journal__box-img .boxtxt .txt {
		padding-bottom: 0%;
	}
	.section-news__box-img .boxtxt .btn, .section-method__box-img .boxtxt .btn, .section-journal__box-img .boxtxt .btn {
		margin: 20px auto 0 auto;
		padding: 20px 0;
	}
}

/*=============================================
 * <PAGE METHOD>
 *=============================================*/
.section-method {
	padding-top: 8px;
	padding-bottom: 41px;
}

/*=============================================
 * <PAGE JOURNAL>
 *=============================================*/
.ttl-journal, .ttl-method {
	font-size: 3.4em;
	font-family: 'Marcellus', serif;
	line-height: 1.3;
	padding: 0 35px 40px 35px;
}

/*=============================================
 * <PAGE SKIN BASE>
 *=============================================*/
.section-product {
	padding: 0px 0 245px;
}
.section-product .container-full {
	overflow: inherit;
}
.section-product .boximg-product {
	padding: 0px 0 124px;
}
.section-product .boximg-product .photo {
	float: right;
	width: 50%;
}
.section-product .boximg-product .photo img {
	margin-top: -153px;
}
.section-product .boximg-product .boxtxt {
	float: left;
	width: 45%;
	padding-left: 75px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.section-product .boximg-product .boxtxt .ttl {
	font-size: 2.5em;
	line-height: 2;
	letter-spacing: 2px;
	padding-top: 9px;
}
.section-product .boximg-product .boxtxt .txt {
	color: #85754E;
	font-size: 1.5em;
	line-height: 1.8;
	padding-top: 35px;
	letter-spacing: 1.6px;
	text-align: justify;
}
.section-product .boximg-product-list {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 75px 40px;
}
.section-product .boximg-product-list .box {
	width: 44%;
	text-align: center;
	padding-bottom: 70px;
}
.section-product .boximg-product-list .box .ttl {
	font-size: 1.8em;
	line-height: 1.8;
	color: #666464;
	padding-top: 49px;
}
.section-product .boximg-product-list .box .price {
	font-size: 1.8em;
	line-height: 1.8;
	color: #666464;
	margin-top: -4px;
}
@media only screen and (max-width:1080px) and (min-width:751px) {
	.section-product .boximg-product .photo img {
		margin-top: -50px;
	}
	.section-product .boximg-product .boxtxt {
		width: 48%;
	}
	.section-product .boximg-product .boxtxt .ttl {
		font-size: 2.0em;
	}
}
@media only screen and (max-width:750px) {
	.section-product {
		padding: 0px 0 100px;
	}
	.section-product .container-full {
		overflow: inherit;
	}
	.section-product .boximg-product {
		padding-bottom: 15%;
	}
	.section-product .boximg-product .boxtxt .ttl {
		font-size: 2.1em;
	}
	.section-product .boximg-product .photo {
		float: none;
		width: 100%;
		padding-top: 0;
	}
	.section-product .boximg-product .photo img {
		margin-top: 0;
	}
	.section-product .boximg-product .boxtxt {
		float: none;
		width: 100%;
		padding: 0 35px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.section-product .boximg-product .boxtxt .ttl {
		padding-top: 10%;
	}
	.section-product .boximg-product .boxtxt .txt {
		padding-top: 5%;
	}
	.section-product .boximg-product-list {
		padding: 0 35px 60px;
	}
	.section-product .boximg-product-list .box {
		width: 48%;
		padding-bottom: 10%;
	}
	.section-product .boximg-product-list .box .ttl {
		font-size: 1.4em;
		line-height: 1.8;
		padding-top: 5%;
	}
	.section-product .boximg-product-list .box .price {
		font-size: 1.4em;
		line-height: 1.8;
	}
}

/*=============================================
 * <PAGE CONCEPT>
 *=============================================*/
.section-concept {
	padding: 8px 0 161px;
}
.section-concept .box-concept .box-concept-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 95px 75px 0 75px;
}
.section-concept .box-concept .box-concept-info h2 {
	font-size: 5em;
	line-height: 1.3;
	font-family: 'Marcellus', serif;
}
.section-concept .box-concept .box-concept-info .boxtxt {
	width: 52.5%;
}
.section-concept .box-concept .box-concept-info .boxtxt .inner {
	padding-bottom: 54px;
}
.section-concept .box-concept .box-concept-info .boxtxt .ttl {
	font-size: 2.7em;
	line-height: 2;
	padding-top: 11px;
	letter-spacing: 1px;
	font-family: 'Noto Serif JP', serif;
}


.section-concept .box-concept .box-concept-info .boxtxt .txt {
	padding-top: 40px;
	font-size: 1.6em;
	line-height: 1.9;
	letter-spacing: -1px;
	text-align: justify;
}
.section-concept .box-concept .box-concept-info .boxtxt .name {
	font-size: 2.2em;
	line-height: 1.5;
	font-family: 'Marcellus', serif;
	padding-top: 65px;
}
.section-concept .box-concept .box-concept-info .boxtxt .jpb {
	font-size: 2em;
	color: #85754E;
	line-height: 2.3;
	padding: 0px 0 0px;
}
.section-concept .box-concept .box-concept-info .boxtxt .inner2 {
	padding-bottom: 85px;
}
.section-concept .box-concept .box-concept-info .boxtxt .inner2 .txt {
	padding-top: 64px;
}
.section-concept .box-concept .box-concept-info .boxtxt .inner3 .txt {
	padding-top: 30px;
}

@media only screen and (max-width:768px) {
	.section-concept .box-concept .box-concept-info .boxtxt .ttl br.sp {
		display: block !important;
	}
 }


@media only screen and (max-width:750px) {
	.section-concept {
		padding-bottom: 100px;
	}
	.section-concept .container-full {
		overflow: inherit;
	}
	.section-concept .box-concept .box-concept-info {
		display: block;
		padding: 0 0 0 0;
		margin-top: -5%;
	}
	.section-concept .box-concept .box-concept-info h2 {
		padding: 0 35px 40px 35px;
		font-size: 4em;
		margin-top: -45px;
	}
	.section-concept .box-concept .box-concept-info .boxtxt {
		width: 100%;
		padding: 0 35px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .inner {
		padding-bottom: 40px;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .ttl {
		padding-top: 35px;
		font-size: 2.5em;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .txt {
		padding-top: 5%;
		font-size: 1.6em;
		line-height: 1.8;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .title {
		padding: 20px 0;
		font-size: 2.0em;
		line-height: 1.5;
		margin-bottom: 40px;
		letter-spacing: 3px;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .jpb {
		padding: 0px 0 0 0px;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .name {
		padding-top: 50px;
	}
	.section-concept .box-concept .box-concept-info .boxtxt .inner .txt {
		padding-top: 30px;
	}
}
.title {
	border-top: 1px solid #DAD4CC;
	border-bottom: 1px solid #DAD4CC;
	text-align: center;
	padding: 20px 0;
	font-size: 2.0em;
	line-height: 1.5;
	margin-bottom: 50px;
	letter-spacing: 3px;
}

/*=============================================
 * <PAGE PRODUCT DETAIL>
 *=============================================*/
.product-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 75px 60px 75px;
}
.product-detail .boxdetail__left {
	width: 44%;
}
.product-detail .boxdetail__left .go-slider {
	margin-bottom: 76px;
}
.product-detail .boxdetail__left .go-slider .slick-arrow {
	display: none !important;
}
.product-detail .boxdetail__info {
	width: 44.5%;
}
.product-detail .boxdetail__info .boxtitle1 {
	padding-bottom: 20px;
}
.product-detail .boxdetail__info .boxtitle1 .ttl {
	font-size: 3.0em;
	line-height: 1.6;
	border-bottom: 1px solid #666464;
	color: #666464;
	font-family: 'Noto Serif JP', serif;
	padding-bottom: 22px;
	letter-spacing: 2px;
	margin-top: -11px;
}
.product-detail .boxdetail__info .boxtitle1 .txt {
	padding-top: 5%;
	font-size: 1.6em;
	line-height: 1.8;
}
.product-detail .boxdetail__info .boxtitle1 .note {
	color: #85754E;
	font-size: 1.5em;
	line-height: 1.8;
	text-align: right;
	padding-top: 5px;
}
.product-detail .boxdetail__info .boxtitle2 .ttl {
	font-size: 3.4em;
	line-height: 1.2;
	font-family: 'Marcellus', serif;
}
.product-detail .boxdetail__info .boxtitle2 .ttls {
	font-size: 1.3em;
	line-height: 1.5;
	padding: 5px 0 0 0;
}
.product-detail .boxdetail__info .boxtitle2 .price {
	font-size: 2.2em;
	line-height: 1.8;
	text-align: right;
	padding-bottom: 28px;
	letter-spacing: 0.8px;
}
.product-detail .boxdetail__info .boxtitle2 .price span {
	font-size: 0.6em;
}
.product-detail .boxdetail__info .boxtitle2 .addtocard {
	text-align: right;
	max-width: 295px;
	margin: 0 0 0 auto;
}
.product-detail .boxdetail__info .inner {
	margin-top: 32px;
	margin-bottom: 40px;
}
.product-detail .boxdetail__info .inner .title {
	margin: 0;
	border-color: #666464;
	position: relative;
}
.product-detail .boxdetail__info .inner .title:before {
	content: '';
	position: absolute;
	width: 20px;
	border-top: 1px solid #666464;
	right: 25px;
	top: 34px;
	-webkit-animation: smoky-out 0.7s 0s both;
	animation: smoky-out 0.7s 0s both;
}
.product-detail .boxdetail__info .inner .title:after {
	content: '';
	position: absolute;
	height: 20px;
	border-left: 1px solid #666464;
	right: 34px;
	top: 25px;
	-webkit-animation: smoky-out 0.7s 0s both;
	animation: smoky-out 0.7s 0s both;
}
.product-detail .boxdetail__info .inner .toggle-content {
	padding-top: 32px;
}
.product-detail .boxdetail__info .inner .toggle-content {
	display: none;
}
.product-detail .boxdetail__info .inner .toggle-content.active{
}
.product-detail .boxdetail__info .inner .ttl_detail {
	font-size: 1.6em;
	line-height: 1.8;
	padding-bottom: 35px;
	padding-top: 7px;
	letter-spacing: -2px;
}
.product-detail .boxdetail__info .inner .txt {
	font-size: 1.6em;
	line-height: 1.8;
	text-align: justify;
}
.product-detail .boxdetail__info .inner .item_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.product-detail .boxdetail__info .inner .item_box li {
	width: 22%;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.product-detail .boxdetail__info .inner .item_box li .item_ttl {
	padding-top: 3px;
	display: inline-block;
}
.product-detail .boxdetail__info .inner.active .title:after {
	display: none;
}
.ttl-product-detail {
	color: #85754E;
	letter-spacing: 0;
	margin: 0 75px 20px !important;
	padding: 20px 0 !important;
}
.boxproduct-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 75px;
}
.boxproduct-detail .box {
	width: 22%;
	text-align: center;
	padding-bottom: 70px;
}
.boxproduct-detail .box .ttl {
	font-size: 1.6em;
	line-height: 1.8;
	color: #666464;
	padding-top: 10px;
}
.boxproduct-detail .box .price {
	font-size: 1.6em;
	line-height: 1.8;
	/* margin-top: -10px; */
}
@media only screen and (min-width:751px) {
	.ttl-product-detail {
		border: none;
	}
}
@media only screen and (max-width:750px) {
	.ttl-product-detail {
		margin: 0 0 30px !important;
	    border-top: 1px solid #DAD4CC !important;
    	border-bottom: 1px solid #DAD4CC !important;
	}
	.product-detail {
		display: block;
		padding: 0 35px 40px 35px;
	}
	.product-detail .boxdetail__left {
		width: 100%;
	}
	.product-detail .boxdetail__left .go-slider {
		margin-bottom: 40px;
	}
	.product-detail .boxdetail__left .go-slider .slick-arrow {
		display: inline-block !important;
		z-index: 9;
	}
	.product-detail .boxdetail__left .go-slider .slick-next {
		right: -20px;
	}
	.product-detail .boxdetail__left .go-slider .slick-prev {
		left: -20px;
	}
	.product-detail .boxdetail__info {
		width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	}
	.product-detail .boxdetail__info > * {
		width: 100%;
	}
	.product-detail .boxdetail__info .inner {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.product-detail .boxdetail__info .boxtitle2 {
		order: 0;
	}
	.product-detail .boxdetail__info .inner .title {
	    margin: 0 -35px;
	}
	.product-detail .boxdetail__info .inner .ttl_detail {
	    padding-bottom: 15px;
	    padding-top: 0;
	}
	.product-detail .boxdetail__info .boxtitle1 .ttl {
	    font-size: 2.3em;
	    padding-bottom: 0;
	    border-bottom: none;
	    margin-top: 0;
	}
	.product-detail .boxdetail__info .boxtitle1 .note {
	    text-align: left;
	}
	.product-detail .boxdetail__info .inner .item_box li {
		width: 30%;
	}
	.product-detail .boxdetail__info .inner .item_box li:nth-child(7),
	.product-detail .boxdetail__info .inner .item_box li:nth-child(8) {
		display: none;
	}
	.product-detail .boxdetail__info .boxtitle2 .addtocard {
	    max-width: inherit;
	}
	.box-video-sp {
		padding-bottom: 40px;
	}
	.boxproduct-detail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0 35px;
	}
	.boxproduct-detail .box {
		width: 46%;
	}
}

/*=============================================
 * <PAGE SHOP>
 *=============================================*/
.shop-show-pc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 75px 100px;
}
.shop-show-pc .shop-box {
	width: 41.5%;
	color: #666464;
	padding-bottom: 32px;
}
.shop-show-pc .shop-box .shop-name {
	font-size: 1.4em;
	line-height: 1.7;
	padding: 18px 0 0 8px;
	letter-spacing: 1.5px;
}
.shop-show-pc .shop-box .shop-info {
	font-size: 1.4em;
	line-height: 1.7;
	letter-spacing: 1.5px;
	padding: 0 0 0 8px;
}
@media only screen and (max-width:750px) {
	.shop-show-sp .shop-show-box {
		margin-top: 20px;
	}
	.shop-show-sp .shop-show-box .title {
		margin: 0;
		font-family: 'Marcellus', serif;
	}
	.shop-show-sp .shop-show-box .title:before {
		content: '';
		position: absolute;
		width: 20px;
		border-top: 1px solid #DAD4CC;
		right: 25px;
		top: 33px;
		-webkit-animation: smoky-out 0.2s 0s both;
		animation: smoky-out 0.2s 0s both;
	}
	.shop-show-sp .shop-show-box .title:after {
		content: '';
		position: absolute;
		height: 20px;
		border-left: 1px solid #DAD4CC;
		right: 34px;
		top: 24px;
		-webkit-animation: smoky-out 0.2s 0s both;
		animation: smoky-out 0.2s 0s both;
	}
	.shop-show-sp .shop-show-box.active .title:before, .shop-show-sp .shop-show-box.active .title:after {
		animation: smoky 0.2s 0s both;
	}
	.shop-show-sp .shop-show-box.active .title:after {
		opacity: 0;
	}
	.shop-show-sp .shop-box {
		color: #666464;
		padding-bottom: 15px;
		padding: 25px 35px 50px;
	}
	.shop-show-sp .shop-box .shop-name {
		font-size: 1.4em;
		line-height: 1.7;
		padding-top: 40px;
	}
	.shop-show-sp .shop-box .shop-info {
		font-size: 1.4em;
		line-height: 1.7;
	}
	.shop-show-sp .ttl_shop {
		font-family: 'Marcellus', serif;
		margin-top: 20px;
		font-size: 2.5em;
		text-align: center;
		padding: 30px 0;
	}
}
@keyframes smoky {
	0% {
		filter: blur(3px)
	}
	100% {
		filter: blur(0px)
	}
}
@keyframes smoky-out {
	0% {
		filter: blur(3px)
	}
	100% {
		filter: blur(0px)
	}
}

/*=============================================
 * <PAGE CONTACT>
 *=============================================*/
.contact-box {
	display: flex;
	justify-content: space-between;
	padding: 40px 75px 0;
}
.ttl-contact {
	font-family: 'Marcellus', serif;
	font-size: 5em;
	width: 30%;
	line-height: 1.3;
}
.contact-form {
	width: 62%;
	padding-top: 20px;
}
.contact-form .box-tel .ttl {
	font-size: 2.4em;
	line-height: 1.3;
	padding-bottom: 20px;
}
.contact-form .box-tel .tel {
	font-size: 3.5em;
	line-height: 1.2;
}
.contact-form .box-tel .txt-tel {
	font-size: 1.8em;
	line-height: 1.7;
}
@media screen and (min-width: 751px) {
	.contact-form .box-tel p {
		padding: 0 20px;
	}
	.contact-form .box-tel .ttl {
		padding-bottom: 35px;
		letter-spacing: 10px;
	}
	.contact-form .box-tel .ttl-1 {
		border-bottom: 1px solid #666464;
	}
	.contact-form .box-tel .ttl-2 {
	    padding-top: 120px;
	    margin-bottom: 56px;
	}
	.contact-form .box-tel .tel {
	    padding-top: 54px;
	    letter-spacing: 5px;
	    padding-bottom: 29px;
	}
	.contact-form .box-tel .txt-tel {
		letter-spacing: 7px;
		line-height: 1.8;
	}
}
@media screen and (max-width: 750px) {
	.form-section {
		position: relative;
		padding-bottom: 60px;
	}
	#inquiry-pr.form-section:before {
		content: "";
		position: absolute;
		top: 0;
		left: -35px;
		right: -35px;
		border-bottom: 1px solid #666464;
	}
	.contact-box {
		display: block;
		padding: 0 35px;
	}
	.ttl-contact {
		width: 100%;
		font-size: 4em;
		padding-bottom: 40px;
	}
	.contact-form {
		width: 100%;
		padding-top: 0;
	}
	.contact-form .box-tel {
		padding: 40px 35px;
		border-top: 1px solid #666464;
		border-bottom: 1px solid #666464;
		margin: 0px -35px 0 -35px;
	}
	.contact-form .box-tel .tel {
		font-family: 'Marcellus', serif;
	}
	.contact-form .box-tel .txt-tel {
		margin-top: 10px;
	}
}

/* page WEB POLICY PRIVACY POLICY */


.single-pager {
	margin: 0 !important;
	padding: 0 0 100px !important;
}

.single-pager > div {
	margin: 0 0 30px 0;
}
.single-pager > div:nth-of-type(1) {
	margin: 30px 0 30px 0;
}

h2.single-pager-h2 {
	margin: 100px 0 0 0 !important;
	padding: 0 !important;
	font-size: 24px !important;
	font-size: 2.4em !important;
	color: #727171 !important;
	text-align: left !important;
	font-weight: bold !important;
	font-family: 'Marcellus', serif !important;
	letter-spacing: 0.05em !important;

}
.single-pager h3 {
	margin: 40px 0 10px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
	font-weight: bold !important;
}
.single-pager h3:nth-of-type(2) {
	margin: 30px 0 -15px 0 !important;
}
.single-pager p {
	margin: 0 0 30px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
	line-height: 1.6 !important;
}
.single-pager {
	margin: 0 0 30px 0 !important;
}
.single-pager h4 {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
	font-weight: bold !important;
}
.single-pager h5 {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
}
.single-pager h6 {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
}
.single-pager p {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
	line-height: 1.6 !important;
}
.single-pager p.notice {
	font-size: 12px !important;
	font-size: 1.2em !important;
	line-height: 1.6 !important;
}
.single-pager address {
	font-style: normal !important;
	text-align: left !important;
}
.single-pager address p {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px !important;
	font-size: 1.4em !important;
	line-height: 1.6 !important;
}
.single-pager address p.notice {
	font-size: 12px !important;
	font-size: 1.2em;
	line-height: 1.6 !important;
}

@media only screen and (max-width:1150px) and (min-width:751px) {
	.single-pager {
		padding: 0 20px !important;
	}
	h2.single-pager-h2 {
		padding: 0 20px !important;
	}
}

@media (max-width: 750px) {
	
	.single-pager {
		padding: 0 35px !important;
	}

	h2.single-pager-h2 {
		margin: 25% 0 0 0 !important;
		font-size: 20px !important;
		font-size: 2.0em !important;
		text-align: left !important;
		padding: 0 35px !important;
	}
	.single-pager h3 {
		margin: 18% 0 2% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
		font-weight: bold !important;
	}
	.single-pager h3:nth-of-type(2) {
		margin: 8% 0 2% 0 !important;
	}
	.single-pager p {
		margin: 0 0 8% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
	}
	.single-pager {
		margin: 0 0 8% 0 !important;
	}
	.single-pager h4 {
		margin: 0 0 2% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
		font-weight: bold !important;
	}
	.single-pager h5 {
		margin: 0 0 2% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
	}
	.single-pager h6 {
		margin: 0 0 2% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
	}
	.single-pager p {
		margin: 0 0 1% 0 !important;
		font-size: 12px !important;
		font-size: 1.2em !important;
	}
	.single-pager p.notice {
		font-size: 10px !important;
		font-size: 1.0em !important;
	}
	.single-pager address p {
		font-size: 12px !important;
		font-size: 1.2em !important;
	}
	.single-pager address p.notice {
		font-size: 10px !important;
		font-size: 1.0em !important;
	}
	
}


