::-ms-input-placeholder {
	color: #666464;
	letter-spacing: 8px;
}
::-moz-placeholder {
	color: #666464;
	letter-spacing: 8px;
}
::-moz-placeholder {
	color: #666464;
	letter-spacing: 8px;
}
::-webkit-input-placeholder {
	color: #666464;
	letter-spacing: 8px;
}

.form-section h3 {
	position: relative;
}
.form-section h3 {
	font-size: 2.2em;
	line-height: 1.8;
	letter-spacing: 0.2em;
	padding-bottom: 30px !important;
	padding-top: 40px !important;
}
.form-section .main-form {
	font-size: 1.8em;
}

.main-form input,select,textarea {
	border: 1px solid #b4b3b1;
	padding: 8px 10px;
	width: 100%;
	background: none;
	outline: none;
}
.main-form input[type=radio],
.main-form input[type=checkbox] {
	padding: 0;
	width: auto;
	position: relative;
	top: 2px;
}
.main-form textarea {
	min-height: 230px;
	resize: none;
}
.main-form button {
	font-weight: normal !important;
	border: none;
	cursor: pointer;
	padding: 16px 39px;
	display: inline-block;
	color: #85754E;
	font-size: 17px;
	background: #D5C9B9;
	width: auto;
}
.main-form button + button {
	margin-left: 20px;
}
.main-form button:hover {
	opacity: 0.8;
}
.main-form label {
	display: block;
}
.main-form .row > .col {
	padding: 8px 0;
}
.main-form .mark-require {
	color: #FF4141;
	font-size: small;
	line-height: 0;
	display: none;
}
.main-form .caption {
	padding: 5px 10px;
}
.main-form .input {
	padding: 5px 0;
}
.main-form .submit {
	text-align: right;
}
.main-form [class^=error] {
	position: relative;
    left: auto;
    bottom: auto;
    padding: 0 10px;
}
.main-form .form-value + .form-value {
	margin-top: 10px;
}
.main-form .form-value > [class^='error'] {
	bottom: -12px;
}
.main-form .submit {
	margin-top: 45px;
}

.fc-confirm .main-form .confirm-value {
	padding: 20px;
	width: 100%;
}

@media screen and (min-width: 751px) {
	.contact-box {
	    padding: 40px 75px 212px;
	}
	.form-section {
		margin-bottom: 100px;
	}
	.form-section h3 {
		border-top: 1px solid #666464 !important;
		border-bottom: 1px solid #666464 !important;
	    font-size: 1.9em;
	    letter-spacing: 9px;
	    padding: 28px 20px 32px !important;
	    margin-bottom: 55px !important;
	}
	.main-form input, select, textarea {
		padding: 40px 32px;
	}
	.main-form .caption {
		display: none;
	}
	.main-form .row > .col {
	    padding: 0;
	}
	.main-form .row > .col {
		margin-bottom: -1px;
	}
	.main-form .input {
	    padding: 0;
	}
	.main-form [class^=error] {
	    padding: 10px 10px 15px;
	}
}
@media screen and (min-width: 992px) {
	.form-section h3 {
	    font-size: 2.2em;
	}
}
@media screen and (max-width: 750px) {
	::-ms-input-placeholder {
		opacity: 0;
	}
	::-moz-placeholder {
		opacity: 0;
	}
	::-moz-placeholder {
		opacity: 0;
	}
	::-webkit-input-placeholder {
		opacity: 0;
	}
	.form-section h3 {
		font-size: 2.2em;
		letter-spacing: 0.33em;
	}
	.form-section .main-form {
		letter-spacing: 0.33em;
		font-size: 1.4em;
	}
	.main-form .row > .col {
	    padding: 2px 0;
	}
	.main-form .submit {
	    text-align: center;
	}
}