.item-product {
	text-align: center;
	font-size: 1.6em;
	line-height: 1.5;
}
.item-product .item-title {
	text-transform: uppercase;
}
.item-product .item-img {
	margin-bottom: 20px;
}
.title-shared {
	margin-bottom: 23px !important;
}
@media screen and (max-width: 750px) {
	.item-product {
		font-size: 1.5em;
	}
}

#skin-base {
	padding: 46px 0 50px;
}
#point-make {
	padding: 40px 0 62px;
}
.news-slide {
	padding: 0 50px;
}
.news-slide .item-product {
	box-sizing: border-box;
	padding: 0 25px;
}
@media (min-width: 751px) and (max-width: 991px) {
	.news-slide .slick-prev {
	    left: 30px;
	}
	.news-slide .slick-next {
	    right: 30px;
	}
}
@media screen and (max-width: 750px) {
	.news-slide {
		padding: 0 28px;
	}
	.news-slide .item-product {
		padding: 0 7px;
	}
	#skin-base {
	    padding: 30px 0;
	}
}
#shinjyuku .photo {
	margin-bottom: 30px;
}
#shinjyuku .fnt-notosans {
	font-size: 2em;
	line-height: 2;
	letter-spacing: 0.12em;
	color: #666464;
	text-align: center;
}
#shinjyuku .fnt-notosans a {
	position: relative;
}
#shinjyuku .fnt-notosans a:after {
	content: "";
	border-bottom: 1px solid #666464;
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
}
#banner .col {
	position: relative;
	width: 50%;
}
#banner .col h3 {
	font-family: 'Marcellus', serif;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	font-size: 3em;
	line-height: 1.3;
	color: #fff;
}
#video {
	margin-top: 55px;
}
@media (min-width: 751px) and (max-width: 991px) {
	#banner .col h3 {
		font-size: 2.3em;
	}
}
@media screen and (max-width: 750px) {
	#banner .container {
		padding: 0;
	}
	#banner .col {
		width: 100%;
	}
	#banner .col h3 {
		font-size: 2.3em;
	}
}
@media screen and (max-width: 320px) {
	#banner .col h3 {
		font-size: 2em;
	}
}