﻿@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Marcellus|Noto+Sans+JP:400,700|Noto+Serif+JP:400,700|Open+Sans:400,700&display=swap&subset=japanese');

html:not(.responsive) {
	min-width: 1000px; /* viewport */
}

/*=============================================
 * body
 *=============================================*/

body {
	font-family: 'Noto Sans JP','Open Sans','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo, sans-serif;
	font-size: 62.5%; /* font-size 1em = 10px */
	line-height: 1.6em;
	letter-spacing: 0;
	color: #666464;
	background-color: #f4f2f0;
	-webkit-text-size-adjust: 100%;
	min-width: inherit;
	min-height: inherit;
}
a {
	color: #666464;
	transition: .3s;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* スマホのハイライトデザインを無効にする */
}
a:hover {
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	text-decoration: none;
}
a:focus {
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
}
img.img-full {
	width: 100%;
	height: auto;
}


/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/

.fnt-mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.fnt-meiryo {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.fnt-gothic {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.fnt-marcellus {
	font-family: 'Marcellus', serif;
}
.fnt-opensans {
	font-family: 'Open Sans', sans-serif;
}
.fnt-notosans {
	font-family: 'Noto Sans JP', sans-serif;
}
.fnt-notoserif {
	font-family: 'Noto Serif JP', serif;
}
.sp {
	display: none !important;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.flex-box {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	justify-content: center;
}
@media screen and (max-width: 750px) {
	.pc {
		display: none !important;
	}
	.sp {
		display: block !important;
	}
}
@-moz-document url-prefix(){
    .txt-vertical .txt-latin{
        display: inline-block;
    }
}
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?66465205');
	src: url('../font/fontello.eot?66465205#iefix') format('embedded-opentype'), url('../font/fontello.woff2?66465205') format('woff2'), url('../font/fontello.woff?66465205') format('woff'), url('../font/fontello.ttf?66465205') format('truetype'), url('../font/fontello.svg?66465205#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontello';
		src: url('../font/fontello.svg?66465205#fontello') format('svg');
	}
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;  /* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;  /* fix buttons height, for twitter bootstrap */
    line-height: inherit;
    display: inline-block;

	/* remove if not needed */
	margin-left: .2em;

	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  /* Uncomment for 3D effect */

	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-ok:before {
	content: '\e800';
}
.icon-cancel:before {
	content: '\e801';
}
.icon-cancel-circled:before {
	content: '\e802';
}
.icon-cancel-circled2:before {
	content: '\e803';
}
.icon-right-open:before {
	content: '\e804';
}
.icon-angle-right:before {
	content: '\f105';
}
.icon-angle-circled-right:before {
	content: '\f138';
}

/*=============================================
 * <main>
 *=============================================*/

main {
	clear: both;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.container-full {
	overflow: hidden;
	max-width: 1100px;
	margin: auto;
}
.container {
	overflow: hidden;
	max-width: 1100px;
	padding: 0 75px;
	margin: auto;
	box-sizing: border-box;
}
.wrap {
	width: 1000px;
}
@media screen and (max-width: 750px) {
	.container {
		padding: 0 35px;
	}
}
@media screen and (max-width: 320px) {
	.container {
	    padding: 0 20px;
	}
}

/*=============================================
 * <Breadcrumb>
 *=============================================*/

ul.breadcrumb {
  padding: 10px 0px 10px  ;
  list-style: none;
 	margin: 53px auto 50px auto;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1.7em;
  line-height: 1.8;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #85754E;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #85754E;
  text-decoration: none;
}

ul.breadcrumb br {
	display: none !important;
}


/*=============================================
 * <header>
 *=============================================*/

header {
	border-top: 17px solid #DAD4CC;
	position: relative;
	z-index: 11;
}
header:before {
	content: "";
	background-color: #efeae4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: all ease .1s;
}
header.hover-sub:before {
	opacity: 1;
	pointer-events: inherit;
	height: 284px;
}
header .flex-box {
    justify-content: space-between;
	align-items: flex-end;
	padding: 56px 0 45px;
}
header .logo {
	margin-left: 1.8% !important;
	width: 20%;
    max-width: 204px;
    position: relative;
    z-index: 100;
}
header nav {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1;
    padding-right: 50px;
    width: 55%;
    max-width: 598px;
    position: relative;
    z-index: 2;
}
header nav .submenu li a {
	display: block;
	padding: 8px 0;
}
header nav .submenu li a:before {
	content: "-";
	margin-right: 4px;
}
header nav.home-nav > ul {
	display: flex;
	justify-content: space-between;
}
header nav.home-nav > ul > li {
	position: relative;
}
header nav.home-nav .submenu {
	padding-top: 46px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 110px;
	display: none;
}
header nav.home-nav > ul > li.hover .submenu {
	display: block;
}

/** nav Home **/
nav.home-nav {
	display: none;
}
body.home nav.home-nav {
	display: block;
}
body.home .hamburger, body.home .menu_toggle {
	display: none;
}

@media (min-width: 751px) and (max-width: 991px) {
	header .flex-box {
	    padding: 40px 2%;
	}
	header nav {
	    padding-right: 0;
	    width: 70%;
	}
}
@media screen and (max-width: 750px) {
	body.home nav.home-nav {
	    display: none;
	}
	header {
	    border-top-width: 0;
	    padding-top: 72px;
	}
	header .logo {
		margin-left: 0 !important;
		max-width: 137px;
	    width: 35%;
	}
	header .nav-header {
	    border-top: 10px solid #DAD4CC;
	    background: #f4f2f0;
		padding: 18px 20px;
	    align-items: center;
	    position: fixed;
	    width: 100%;
	    box-sizing: border-box;
	    top: 0;
	    left: 0;
	    z-index: 10;
	}

	body.home .hamburger, body.home .menu_toggle {
		display: block;
	}
}

/*=============================================
 * nav
 *=============================================*/

.hamburger {
	padding: 2px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	position: relative;
	z-index: 100;
	transition: all ease .3s;
}
.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 34px;
	height: 2px;
	background-color: #747374;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}
/** Squeeze **/
.hamburger--squeeze .hamburger-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .menu_toggle {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    max-width: inherit;
    top: 0px;
    right: 0;
    height: 100vh;
    z-index: 99;
    padding: 80px 0 110px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #dad4cc;
    transition: all ease .3s;
}

/** nav SP - pager **/
header nav.menu_toggle > ul {
	display: block;
    overflow-y: auto;
    height: 100%;
    flex-wrap: wrap;

}
header nav.menu_toggle > ul > li {
	width: 100%;
}
header nav.menu_toggle > ul > li a {
	display: block;
	padding: 14px 31px;
	border-bottom: 1px solid #fff;
	letter-spacing: 0.2em;
	line-height: 2;
	position: relative;
}
header nav.menu_toggle > ul > li a:after {
    content: "";
    position: absolute;
    top: 23px;
    right: 26px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #666464;
    border-top: 1px solid #666464;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
header nav.menu_toggle .submenu {
	background-color: #f3f2f0;
	padding-top: 0;
	position: relative;
	top: auto;
	left: 0;
	width: auto;
}
header nav.menu_toggle .submenu li a {
	padding: 14px 20px;
}
/** End nav SP - pager **/

body.nav--opened .menu_toggle {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    display: block;
}
body.nav--opened #pagetop {
	z-index: -1;
}
@media screen and (min-width: 751px) {
	.hamburger.is-active {
		position: fixed;
	    top: 48px;
	    right: 18px;
	}
	header .menu_toggle {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		padding-top: 120px;
		width: 250px;
	}
	body.nav--opened .menu_toggle {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@media screen and (max-width: 750px) {
	body.nav--opened {
		overflow-y: hidden;
		height: 100vh;
		-webkit-overflow-scrolling: touch;
	}
	header nav.menu_toggle > ul > li a {
		padding: 13px 31px;
	}
}

/*=============================================
 * <footer>
 *=============================================*/

.instagram {
	padding: 40px 0 62px;
	text-align: center;
}
.instagram a {
	display: inline-block;
	width: 33px;
}
footer {
	background-color: #DAD4CC;
	padding: 54px 0 0;
}
footer .logo {
	text-align: center;
	margin-bottom: 38px;
}
footer .logo span {
	width: 126px;
	display: inline-block;
}
footer .flex-box {
	justify-content: space-between;
	margin-bottom: 26px;
}
footer .nav-footer {
	font-size: 1.4em;
	line-height: 1.5;
    letter-spacing: 0.19em;
	text-transform: uppercase;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	justify-content: space-between;
    width: 53%;
    padding-left: 2%;
}
footer .nav-footer ul a {
	display: inline-block;
	white-space: nowrap;
	padding: 11px 0;
}
footer .nav-footer ul ul li a:before {
	content: "-";
	margin-right: 4px;
}

footer .nav-footer ul li span {
	display: inline-block;
	white-space: nowrap;
	padding: 11px 0;
}

.copyright {
	font-size: 1em;
	line-height: 2;
	padding: 10px 0 20px;
	font-family: 'Open Sans', sans-serif;
}
.copyright > *:after {
	content: "|";
	margin: 0 10px;
}
.copyright > *:last-child:after {
	display: none;
}
.news-letter {
    max-width: 342px;
    width: 34%;
}
.news-letter h3 {
	font-size: 1.4em;
    color: #747374;
    line-height: 3;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    margin-bottom: 38px !important;
}
.mail-form {
	display: block;
	margin: 0 auto;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #727171;
}
.mail-form input, .mail-form button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Marcellus', serif;
	font-size: 1.5em;
	color: #727171;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #DAD4CC inset !important;
}
.mail-form input[type="email"],
.mail-form input[type="text"] {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	vertical-align: middle;
	width: 65%;
}
.mail-form input[type="email"]:focus,
.mail-form input[type="text"]:focus {
	background: none;
}
.mail-form input[type="submit"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: right;
	-webkit-appearance: none;
	text-align: right;
	cursor: pointer;
}
.mail-form input::placeholder {
	font-size: inherit;
	color: #727171;
}
@media (min-width: 751px) and (max-width: 991px) {
	footer .nav-footer {
		font-size: 1.1em;
	    width: 60%;
	}
	.news-letter h3 {
	    font-size: 1.1em;
	    margin-bottom: 20px !important;
	}
	.mail-form input, .mail-form button {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 750px) {
	footer {
		text-align: center;
	}
	footer .logo {
	    margin-bottom: 25px;
	}
	footer .logo span {
		width: 150px;
	}
	footer .flex-box {
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
	footer .nav-footer {
		display: block;
		width: 100%;
	}
	footer .nav-footer > ul {
		width: 100%;
		margin-left: 0 !important;
	}
	footer .nav-footer ul a {
		padding: 8px 0;
	}
	.news-letter {
		margin-top: 50px;
	    padding: 0 20px;
	    box-sizing: border-box;
	    text-align: left;
	    width: 100%;
	}

	.copyright {
		padding: 10px 0 50px
	}
	.mail-form input[type="email"],
	.mail-form input[type="text"] {
	    width: 65%;
	}
}


/*=============================================
 * css all
 *=============================================*/

.title-shared {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.8em;
	line-height: 1.9;
	color: #85754E;
	text-transform: uppercase;
	font-weight: bold !important;
}

/** css video **/
.arrow_video {
	width: 11.8%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.arrow_video a {
	display: block;
}
.content_video {
	position: relative;
}
.content_video video {
	width: 100%;
	height: auto;
	max-height: 90vh;
}
.popup_content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0;
	pointer-events: none;
}
.popup_content:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.popup_content .cboxContent {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	width: 90%;
	max-width: 1200px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.popup_content .cboxContent div {
	background-color: #f4f2f0;
	padding: 4px 4px 2px 4px;
	-ms-transform: scale(0); /* IE 9 */
	-webkit-transform: scale(0); /* Safari 3-8 */
	transform: scale(0);
	overflow: hidden;
	transition: all ease .3s;
}
.close_video {
	display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.8em;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 35px;
    line-height: 34px;
    text-align: center;
}

body.visible {
	overflow: hidden;
	height: 100vh;
}
.popup_content.open {
	opacity: 1;
	display: block;
	pointer-events: inherit;
}
.popup_content.open .cboxContent div {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1); 
}


.nav-links {
	text-align: center;
	font-size: 15px;
}

.nav-links a {
	padding: 0 5px;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeIn, .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}